Source: misterhouse
Section: electronics
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 9),
               dh-linktree
Build-Depends-Indep: libjs-jquery,
                     libjs-jquery-ui
Standards-Version: 3.9.7
Homepage: http://misterhouse.sourceforge.net
Vcs-Git: https://github.com/rocasa/misterhouse.git
Vcs-Browser: https://github.com/rocasa/misterhouse/commits/debian

Package: misterhouse
Architecture: all
Depends: adduser,
         libberkeleydb-perl,
         libdb-file-lock-perl,
         libwww-perl,
         perl,
         ${misc:Depends},
         ${perl:Depends}
Recommends: flite | festival,
            libaudio-mixer-perl,
            libjs-jquery,
            libjs-jquery-ui,
            libtext-levenshtein-perl,
            misterhouse-xs,
            mpd
Suggests: bottlerocket, dailystrips, libdbi-perl
Description: Home Automation with Perl
 MisterHouse is an open source home automation program. It's fun, it's free,
 and it's entirely geeky. Written in Perl, it fires events based on time, web,
 socket, voice, and serial data. Perl subroutines and objects are used to give
 it a powerful programming interface.

Package: misterhouse-xs
Architecture: any
Depends: ${misc:Depends}
Recommends: libtext-levenshteinxs-perl, pocketsphinx
Description: architecture dependent packages and files for MisterHouse
 MisterHouse is an open source home automation program. It's fun, it's free,
 and it's entirely geeky. Written in Perl, it fires events based on time, web,
 socket, voice, and serial data. Perl subroutines and objects are used to give
 it a powerful programming interface.
 .
 This is for MisterHouse architecture dependent packages and files.

Package: misterhouse-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for MisterHouse
 MisterHouse is an open source home automation program. It's fun, it's free,
 and it's entirely geeky. Written in Perl, it fires events based on time, web,
 socket, voice, and serial data. Perl subroutines and objects are used to give
 it a powerful programming interface.
 .
 This package contains HTML documentation and the examples.
