Source: misterhouse
Section: unknown
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://misterhouse.sourceforge.net
Vcs-Git: git://github.com:jame/misterhouse.git
Vcs-Browser: https://github.com/jame/misterhouse/commits/debian

Package: misterhouse
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, adduser
Recommends: mpd, flite | festival
Suggests: bottlerocket
Description: Home Automation with Perl
 MisterHouse is an open source home automation program. It's fun, it's free,
 and it's entirely geeky. Written in Perl, it fires events based on time, web,
 socket, voice, and serial data. Perl subroutines and objects are used to give
 it a powerful programming interface.

Package: misterhouse-doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for MisterHouse
 MisterHouse is an open source home automation program. It's fun, it's free,
 and it's entirely geeky. Written in Perl, it fires events based on time, web,
 socket, voice, and serial data. Perl subroutines and objects are used to give
 it a powerful programming interface.
 .
 This package contains HTML documentation and the examples.
