#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for MisterHouse that uses debhelper.
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

override_dh_fixperms:
	dh_fixperms
	find debian/misterhouse/usr/share/misterhouse/web -name '*.css' -exec chmod -x '{}' \;
	find debian/misterhouse/usr/share/misterhouse/web -name '*.gif' -exec chmod -x '{}' \;
	find debian/misterhouse/usr/share/misterhouse/web -name '*.jpg' -exec chmod -x '{}' \;
	find debian/misterhouse/usr/share/misterhouse/lib -name '*.pm' -exec chmod -x '{}' \;
	chmod -x debian/misterhouse/usr/share/misterhouse/common/*
	chmod +x debian/misterhouse/usr/share/misterhouse/web/bin/mrwiki.pl
	chmod +x debian/misterhouse/usr/share/misterhouse/web/bin/test_cgi*.pl
	find debian/misterhouse-doc/usr/share/doc/misterhouse-doc/examples -type f -exec chmod -x '{}' \;
